 *{
    padding: 0;
    margin: 0;
 }
 
 nav{
    background-color: black;
    color: white;
    padding: 20px;
    
}
li,ul,h1{
    display: inline;
}
ul{
    margin-left: 70%;
}
li{
    margin-right: 5px;
    color: gray;
}
li:hover{
    color: white;
    cursor: pointer;
}
.searchbar{
    text-align: center;
    margin-top: 30px;
}
input{
    width: 60%;
    padding: 15px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}
.box{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    width: 220px;
    
}
.product{
    text-align: center;
    margin-top: 40px;
}
.box:hover{
    /* background-color: black;
    color: white;
    cursor: pointer; */
}
.about{
    text-align: center;
    padding: 20px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    height: 100px;
}
.button{
    background-color: blue;
    color: white;
    margin: 10px;
}
.button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}