body{
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 8%);
  margin-left: 36%;
  margin-bottom: 200px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.container{
  background-color:  hsl(0, 0%, 12%);
  height:690px;
  width: 400px;
  margin-top: 200px;
  border-radius: 15px;
  
}
.profile img{
  width: 125px;
  border-radius:50%;
  margin-left: 140px;
  margin-top: 50px;
}

.profile h2,h4,p{
  /* padding-left: 100px; */
  text-align: center;
}
.profile h4{
  margin-top: 0%;
  margin-bottom:30px;
}
.profile h2{
  margin-bottom: 15px;
}
.social-links{
  text-align: center;
}
.social-links ul{
  list-style: none;
  padding-right: 40px;

  

}
.social-links ul li{
  background-color: hsl(0, 0%, 20%) ;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  /* width: 300px; */
  
  
}
.social-links ul li a{
  text-decoration: none;
  color:  hsl(0, 0%, 100%);
  /* text-shadow: 1px 1px 8px; */
  
}
.social-links ul li:hover{
  cursor: pointer;
  background-color: rgb(25, 161, 25);
   text-shadow: 1px 1px 8px;
}